<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles/styles.css">
    <title>Bookshelf</title>
</head>
<body>
    <header>
        <nav>
            <a id="title" href="/">
                <h1 draggable="true">BOOKSHELF</h1>
            </a>

            <form action="/" method="post" autocomplete="off">
                <input placeholder="Search..." type="text" name="search" id="search">
            </form>
            
             <a class="button" target="_blank" href="https://github.com/danielfalcaovt">
                <div id="ham--lineUp"></div>
                <div id="ham--lineDown"></div>
            </a>  
        </nav>
    </header>
    <section id="greetings">
        <article>
            <h1>Welcome to my Bookshelf.</h1>
            <p>There are all the books i’ve read in all my days on earth and what i’d thought about them. just remember that i am not a professional book rater. i am just a developer and curious guy. 😉</p>
            <p>I Hope you have fun acrossing this project!</p>
        </article>
    </section>
    <main>
        <section id="my-ratings">
            <div class="container">
                <div id="receiver">
                    <%if (locals.data){%>
                    
                    <%locals.data.forEach((item) =>{%>
                        
                        <div>
                            <h2 class="container-title">
                                <%=item.bookname%>
                            </h2>
                            <img src=<%="https://covers.openlibrary.org/b/isbn/"+ item.isbn + "-M.jpg"%> alt="book cover" >
                            <p class="container-rating">
                                <%=item.rating%>
                                / 10
                            </p>
                            <p class="container-note">
                                <%=item.note%>
                            </p>
                        </div>
                           <hr />
                        <%})%>
                     
                        <%}else{console.log("Database not found.");}%>
                        </div>
                    </div>
            
        </section>
    </main>
    <script src="./script.js"></script>
</body>
</html>