@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@200;400&display=swap');

*{
    padding: 0px;
    margin: 0px;
    font-family: "Work Sans", Arial, Helvetica, sans-serif;
}
body{
    background: linear-gradient(to right,#272727,#181818);
}
header{
    background: #181818;
    box-shadow: 0px 0px 8px 4px rgba(0, 0, 0, 0.16);
    height: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
nav{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
nav h1{
    font-size: 1.5rem;
    color: white;
    font-family: "Work Sans",cursive;
    font-weight: bold;
    text-align: center;
}
.button:hover{
    color: rgba(255, 255, 255, 0.819);
}
#title{
  display: flex;
  align-items:center;
  justify-content: flex-start;
  text-decoration: none;
  margin-left: 25px;
}
#title > h1:hover{
    color: rgb(209, 209, 209);
}
form{
    display: flex;
    justify-content: center;
    align-items: center;    
}
#search{
    border-radius: 7px;
    border: 1px solid rgba(0, 0, 0, 0.625);
    width: 70%;
    height: 3.3vh;
    background: linear-gradient(to right,#303030,#232323);
    color: white;
    text-indent: 10px;
}
#search::placeholder{
    color: #67676792;
    text-indent: 10px;
    font-weight: bold;
}
.button{
    position: relative;
}
#ham--lineUp{
    background:linear-gradient(to right, #464646, #303030);
    height: 7px;
    width: 45px;
    position: absolute;
    top: 50%;
    right: 25px;
    transform: translate(0%, -18px);
    border-radius: 7px;

}
#ham--lineDown{
    background:linear-gradient(to right, #464646, #303030);
    height: 7px;
    width: 45px;
    position: absolute;
    top: 50%;
    right: 25px;
    border-radius: 7px;
}
.button:hover #ham--lineDown{
    background:linear-gradient(to right, #4a4a4a, #5b5b5b);
}
.button:hover #ham--lineUp{
    background:linear-gradient(to right, #4a4a4a, #5b5b5b);
}


/* MAIN CSS */
main{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 50vh;
}

/*GREETINGS SECTION*/
#greetings{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
article{
    max-width: 60vw;
    color: white;
}
#greetings h1{
    font-size: 2.4rem;
}
#greetings  p{
    margin-top: 50px;
    font-size: 1.7rem;
}

#my-ratings{
    grid-area: 1/2/1/3;
}
#my-ratings h1{
    color: white;
    font-size: 1.4rem;
    font-family: "Work Sans",Arial, Helvetica, sans-serif;
    font-weight: 200;
    margin: 15px;
}
.container{
    position: relative;
    height: max-content;
    width: 100%;
}
#receiver{
    box-shadow: inset 0px 0px 9.1px 5px rgba(0, 0, 0, 0.252);
    background: linear-gradient(to right,#272727,#181818);
    padding-top: 1px;
    min-width: 300px;
}
#receiver>div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    margin: 50px;
   
}
.container-title{
    color: white;
    font-family: "Work Sans",Arial, Helvetica, sans-serif;
    margin-bottom: 15px;
    margin-top: 15px;
}
img{
width: 100px;
grid-area: 1/1/4/1;
}
.container-note{
    font-weight: 200;
    color: white;
    font-size: 1.4rem;
}
.container-rating{
    color: white;
    font-size: 1.2rem;
}
.container-rating:before{
    content:"â­";
}
section hr{
    background-color: black;
    border: none;
    height: 1px;
}

@media screen and (max-width:500px){
   header{
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
   header h1{
    font-size: 1.2rem;
   }
   header ul li {
    font-size: 0.9rem;
    margin-left: 15px;
}
#receiver > div{
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 0.3fr 0.3fr 0.3fr;
}
img{
    width: 80px;
    grid-area: 1/1/1/1;
}
.container-title{
    font-size: 1.2rem;
    grid-area: 2/1/2/3;
    margin: 0px;
}
.container-note {
    font-size: 1.1rem;
    grid-area: 4/1/4/3;
}
.container-rating{
    grid-area: 3/1/3/3;
    font-size: 1rem;
}
#search{
    width: 100%;
    margin: 5px;

}
article:has(p){
    max-width: 80vw;
}
#greetings h1{
    font-size: 2rem;
}
#greetings p {
    font-size: 1.1rem;
}
nav h1{
    font-size: 1rem;
    text-indent: -15px;
}
#ham--lineUp{
    width: 35px;
}
#ham--lineDown{
    width: 35px;
}
}